@model IEnumerable<Domain.DTOs.PacientesDTO.PacienteDTO>

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        @foreach (var modelError in ViewData.ModelState.SelectMany(kvp => kvp.Value.Errors))
        {
            <p>@modelError.ErrorMessage</p>
        }
    </div>
}

<style>
    /* Estilos para o campo de pesquisa */
    .dataTables_wrapper .dataTables_filter {
        float: none;
        text-align: left;
        margin: 10px;
        position: relative; /* Para posicionar o ícone de lupa */
    }
</style>

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Pacientes</h1>
            </div>
            <div class="col-sm-6">
                <a href="@Url.Action("Create", "Pacientes")" class="btn btn-success float-right">
                    Novo Paciente
                </a>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <div class="card">
        <div class="card-body p-0 table-responsive">
            <table class="table table-striped projects" id="dataTable" style="width:100%">
                <thead>
                    <tr>
                        <th style="width: 12%">Nome</th>
                        <th style="width: 12%">Sobrenome</th>
                        <th style="width: 12%">Data de Nascimento</th>
                        <th style="width: 12%">Gênero</th>
                        <th style="width: 12%">CPF</th>
                        <th style="width: 12%">Celular</th>
                        <th style="width: 12%">Email</th>
                        <th style="width: 10%">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var paciente in Model)
                    {
                        <tr>
                            <td>@paciente.Nome</td>
                            <td>@paciente.SobreNome</td>
                            <td>@paciente.DataDeNascimento</td>
                            <td>@paciente.Genero</td>
                            <td>@paciente.CPF</td>
                            <td>@paciente.Celular</td>
                            <td>@paciente.Email</td>
                            <td class="project-actions text-right">
                                <div class="btn-group">
                                    <a class="btn btn-primary btn-sm mb-1" href="@Url.Action("ObterPacientePorId", "Pacientes", new { id = paciente.PacienteId })">
                                        <i class="fas fa-eye"></i> Visualizar
                                    </a>
                                </div>
                                <div class="btn-group">
                                    <a class="btn btn-info btn-sm mb-1" href="@Url.Action("edit", "pacientes", new { id = paciente.PacienteId })">
                                        <i class="fas fa-pencil-alt"></i> Editar
                                    </a>
                                </div>
                                <div class="btn-group">
                                    <form action="@Url.Action("deletarpaciente", "pacientes")" method="post" style="display: inline-block;">
                                        <input type="hidden" name="id" value="@paciente.PacienteId" />
                                        <button type="submit" class="btn btn-danger btn-sm mb-1" onclick="return confirm('Tem certeza que deseja excluir este paciente?');">
                                            <i class="fas fa-trash"></i> Excluir
                                        </button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</section>


<!-- /.content -->
<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->
<!-- Inclusão de scripts jQuery e DataTables -->
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">

<script>
    new DataTable('#dataTable', {
        "language": {
            "url": "https://cdn.datatables.net/plug-ins/1.10.25/i18n/Portuguese-Brasil.json"
        },
        "pagingType": "simple_numbers",
        "paging": true,
        "lengthChange": false,
        "searching": true, // Habilita a funcionalidade de pesquisa
        "info": false, // Desabilita a exibição do contador de registros
        "autoWidth": false,
        "ordering": false
    });
</script>